<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>559190598320-ovttigokt4qubfu33madhk8gsgaqp1oc.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.559190598320-ovttigokt4qubfu33madhk8gsgaqp1oc</string>
	<key>API_KEY</key>
	<string>AIzaSyAfGmxkm2Q_RosYd8kF9XlV7kQ4-oM4TUU</string>
	<key>GCM_SENDER_ID</key>
	<string>559190598320</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>roman.FirebaseApplication</string>
	<key>PROJECT_ID</key>
	<string>fir-project-45c91</string>
	<key>STORAGE_BUCKET</key>
	<string>fir-project-45c91.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:559190598320:ios:14df9a7cc14a6dbce79175</string>
	<key>DATABASE_URL</key>
	<string>https://fir-project-45c91.firebaseio.com</string>
</dict>
</plist>